{% extends "tardis_portal/data_browsing_template.html" %}
{% load embargo %}
{% block content %}
<script>
$(document).ready(function(){
    $('.date_input').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true
    });
});
</script>
    <h1> Embargo Periods </h1>

    <h2> Search </h2>
    <form action="{% url mecat.embargo.search %}" method="GET">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Search" />
    </form>


    {% if searched %}
        <h2> Search Results </h2>
        {% if search_results %}
            <table border="1">
                <tr>
                    <th>
                        Proposal ID
                    </th>
                    <th>
                        Experiment
                    </th>
                    <th>
                        Authors
                    </th>
                    <th>
                        Start
                    </th>
                    <th>
                        End
                    </th>
                    <th>
                        Embargo Expiry
                    </th>
                    <th colspan=2>
                    </th>
                </tr>
                {% for experiment in search_results %}
                <tr>
                    <td>
                        {{ experiment.proposal_id }}
                    </td>
                    <td>
                        {{ experiment.title }}
                    </td>
                    <td>
                        {{ experiment.authors }}
                    </td>
                    <td>
                        {{ experiment.start_time}}
                    </td>
                    <td>
                        {{ experiment.end_time}}
                    </td>
                    {% embargo_edit experiment.id %}
                </tr>
                {% endfor %}
            </table>
        {% else %}
            No results found
        {% endif %}
    {% endif %}

{% endblock %}
