{% extends "tardis_portal/data_browsing_template.html" %}
{% load embargo %}
{% block content %}
<script>
$(document).ready(function(){
    $('.date_input').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true
    });
});
</script>
    <h1> Embargo Periods </h1>

    <h2> Search </h2>
    <form action="{% url mecat.embargo.search %}" method="GET">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Search" />
    </form>


    {% if searched %}
        <h2> Search Results </h2>

        {% if search_results %}
            {% for experiment in search_results %}
                <table class="experiment-table">
                <tr>
                  <th>
                    <span>
                        <a href="{{ experiment.get_absolute_url }}">{{experiment.title}}</a>
                    </span>
                  </th>
                </tr>
                <tr>
                  <td>
                    Proposal ID <strong>{{experiment.proposal_id}}</strong>
                    Authors <strong>{{ experiment.authors }}</strong>
                  </td>
                </tr>    
                <tr>
                  <td>
                    <strong>{{ experiment.start_time|date:"jS F Y H:i" }}</strong>
                    - <strong>{{ experiment.end_time|date:"jS F Y H:i" }}</strong>
                  </td>
                </tr>
                <tr>
                    <table class="embargo_edit">
                        <tr>
                            {% embargo_edit experiment.id %}
                        </tr>
                    </table>
                </tr>
                </table>
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock %}
