<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content=""/>
<meta name="description" content=""/>
<title>TARDIS {% if subtitle %}- {{ subtitle }} {% endif %}</title>
<link rel="stylesheet" type="text/css" href="/ansto_media/css/common.css" media="all" />
<link rel="stylesheet" type="text/css" href="/ansto_media/css/inside.css" />
<link rel="stylesheet" type="text/css" href="/ansto_media/css/versi-ansto.css" />
  <script type="text/javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>

<script type="text/javascript" src="/site_media/js/jstree/jquery.jstree.js"></script>
<script type="text/javascript" src="/site_media/js/jquery-ui-1.8.6.custom.min.js"></script>
<script type="text/javascript" src="/site_media/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/site_media/js/jqmodal.js"></script>
<script type="text/javascript" src="/site_media/js/flash_detect_min.js"></script>
<link href="/site_media/css/jqmodal.css" rel="stylesheet" type="text/css" media="screen">
<link type="text/css" href="/site_media/css/theme/ui.all.css" rel="Stylesheet" />
<link type="text/css" href="/site_media/css/smoothness/jquery-ui-1.7.2.custom.css" rel="stylesheet" />

<script type="text/javascript" src="/site_media/js/jquery.autocomplete.min.js"></script>
<link type="text/css" href="/site_media/css/autocomplete/jquery.autocomplete.css" rel="stylesheet" />
<script src="http://datatables.net/download/build/jquery.dataTables.js"></script>
<script src="http://datatables.net/release-datatables/extras/ColVis/media/js/ColVis.js"></script>
<script src="http://datatables.net/release-datatables/extras/ColReorder/media/js/ColReorder.js"></script>


<!--[if IE]>
   <style type="text/css">
   .set li.main-image span  {
       background:transparent;
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
       zoom: 1;
       bottom:0;
    }
    </style>
<![endif]-->
<!--[if lt IE 7]>
<script type="text/javascript">
   window.onload = function () {
        var navElements = document.getElementById("navigation").getElementsByTagName("LI");

        for (count = 0;  count < navElements.length; count++)
        {
                navElements[count].onmouseover = function () {
                        if (this.className != '') {
                                this.className += ' hover';
                        } else {
                                this.className = 'hover';
                        }
                }

                navElements[count].onmouseout = function () {
                        this.className = this.className.replace(' hover', '');
                        this.className = this.className.replace('hover', '');
                }
        }
};

</script>
<style>.forum-image {margin-left:13px!important;}</style>
<![endif]-->

<!--[if lt IE 8]>
    <link rel="stylesheet" type="text/css" href="/ansto_media/css/iefixes.css" media="all" />
<![endif]-->

{% block script %}
{% endblock %}
</head>
<body>
  <div id="top-container">
    <div id="bottom-container">
      <div id="banner">
        <div id="aus-gov-logo">
          <!-- <a href="http://www.ansto.gov.au"><img src="http://www.ansto.gov.au/__data/assets/image/0005/35276/aus_gov_logo.gif" alt="Australian Government Logo" /></a> -->
          <a href="http://www.ansto.gov.au"><img src="/ansto_media/images/aus_gov_logo.gif" alt="Australian Government Logo" /></a>
        </div><!-- aus-gov-logo -->
        <div id="ansto-logo">
          <!-- <a href="/"><img src="http://www.ansto.gov.au/__data/assets/image/0006/35277/ansto_logo.gif" alt="ANSTO Logo" /></a> -->
          <a href="/"><img src="/ansto_media/images/ansto_logo.gif" alt="ANSTO Logo" /></a>
        </div><!-- ansto-logo -->
        <div id="header-title">
          <!-- <img src="http://www.ansto.gov.au/__data/assets/image/0007/35278/header_title.gif" alt="Delivering excellence in nuclear science & technology" /> -->
          <img src="/ansto_media/images/header_title.gif" alt="Delivering excellence in nuclear science & technology" />
        </div><!-- header-title -->
      </div><!-- banner -->
<!-- <img src="http://www.ansto.gov.au/__data/assets/image/0008/35279/banner_image.jpg" alt="Work Floor" /> -->
      <div id="banner-right-image"><img src="/ansto_media/images/banner_image.jpg" alt="Work Floor" /></div><!-- banner-right-image -->
      <div class="clear2"></div>
      <div id="sec-bar">
        <div id="page-title">
            <!-- <img src="http://www.ansto.gov.au/__data/assets/image/0018/35280/page_title.gif" alt="Australian Nuclear Science and Technology Organisation" /> -->
            <img src="/ansto_media/images/page_title.gif" alt="Australian Nuclear Science and Technology Organisation" />
        </div>
        <div id="search-panel">
        </div><!-- search-panel -->
      </div><!-- sec-bar -->
      <div class="clear2"></div>
      <div id="navigation">
	<ul>
	  <li class="lineheight"><a href="/experiment/view">Data</a></li>
	  <li class="lineheight"><a href="/about">About</a></li>
	  <li class="lineheight"><a href="/partners">Partners</a></li>
	  {% if username %}
	    <li class="lineheight"><a href="/logout">Logout</a></li>
        <li class="lineheight">
	    {% if user.is_superuser %}
	      <span id="userinfo">Welcome, <a href="/admin">{{ username }}.</a></span>
	    {% else %}
	     <span id="userinfo">Welcome, {{ username }}.</span>
	    {% endif %}
        </li>
	  {% else %}
	  <li class="lineheight"><a href="/login">Login</a></li>
	  {% endif %}
          {% if form %}
	  <li class="lineheight" style="width:500px;padding-top:0;">
          <form method="get" action="{% url tardis.tardis_portal.views.single_search %}" style="width:100%;">
      <span id="quicksearch_container" style="width:100%;">
          <input type="text" name="q" id="id_q" style="width:80%;" {% if query %} value="{{ query }}"{% endif %}/>
            <input type="submit" value="search">
              <a title="advanced search help"
                  href="http://mytardis.readthedocs.org/en/latest/searching.html#advanced-search"
                  style="margin-top: 0.3em;"
                  class="fg-button small ui-state-default fg-button-icon-solo
                  ui-corner-all"
                  target="_blank">
                  <span class="ui-icon ui-icon-help" style="padding-right: 0"></span>
              </a>
      </span>
          </form>
	  </li>
          {% endif %}
	</ul>
      </div><!-- navigation -->


        <div id="outer-body">
	  <div class="clear2"></div>
	  <div class="clear2"></div>
          <div id="body">
	    {% if status %}
	    <br/>
            {% if error %}
	    <div id="statusBoxError">
              {{status}}
	    </div><!-- statusBoxError -->
            {% else %}
	    <div id="statusBox">
              {{status}}
	    </div><!-- statusBox -->
            {% endif %}
	    {% endif %}

	    <!-- start content -->

	    {% block content %}{% endblock %}

	    {% block fullpage %}{% endblock %}

	  </div><!-- body -->
	<div style="clear: both; padding: 20px 30px 25px 20px;">
	  {% block bottom %}{% endblock %}
        </div>
      </div><!-- outer-body -->
      <div id="side">
	<div class="clear2"></div>
	<div id="sub_navigation">{% block sidebar %}{% endblock %}</div><!-- sub-navigation -->
       </div><!-- side -->
   </div><!-- bottom-container -->
</div><!-- top-container -->
<div id="footer">
	<div id="versi-footer">
             <a href="http://www.monash.edu.au/eresearch/" target="_blank"><img src="/site_media/images/merc.png" style="padding-top:10px" height="52" alt="MONASH University e-Research Centre"></a>
             <a href="http://www.versi.edu.au" target="_blank"><img src="/site_media/images/acquia_marina_logo.jpg" style="padding-left:10px" height="62" alt="VeRSI"></a>
	</div><!-- versi-footer -->
    <div id="footer-links">
        <a href="http://www.ansto.gov.au/sitemap">Sitemap</a> | <a href="http://www.ansto.gov.au/contact_ansto">Contact us</a> | <a href="http://www.ansto.gov.au/feedback">Feedback</a> | <a href="http://www.ansto.gov.au/copyright">Copyright</a> | <a href="http://www.ansto.gov.au/privacy">Privacy</a>
    </div><!-- footer-links -->
</div><!-- footer -->
<script type="text/javascript">
  $(document).ready(function(){
    var users = (function () {
    var val = null;
    var authMethod = "localdb";
    var data = { authMethod: authMethod };
    $.ajax({
      'async': false,
      'global': false,
      'data': data,
      'url': '/ajax/parameter_field_list/',
      'success': function (data) {
        data = data.split(" ");
        var list = new Array();
        $.each(data, function(i,l) {
            var name = l.split(":")[0];
            var type = l.split(":")[1];
            list[i] = [name, type]});
        val = list;
       }
     });
     return val;
    })();
  
    $("#id_q").autocomplete(users, { //users.split(" "), {
      matchContains: true, 
      multiple: true, 
      multipleSeparator: " ",
      selectFirst: false,
      autoFill: false,
      max: 10,
      minChars: 1,
      scroll: false,
      formatResult: function (item, position, length){
        if (item[1] == 'search_field')
        {
            return item[0] + ":";
        }
        else
        {
            return item[0];
        }
      }
    });
  });
</script>
</body>
</html>
