<h1 class="title"><a href="#">Download file(s)</a></h1>
<div class="entry">
  <script type="text/javascript" language="javascript">
    window.onload = Start;
    function Start() {
    document.getElementById("sslform").submit();
    }
  </script>
  <form method="post" action="https://https://versi-vbl.nbi.ansto.gov.au/StorageGateway/ssltransStartWS.php" id="sslform">
    <input type="hidden" name="key" value="{{key}}">
    <input type="hidden" name="expid" value="{{expid}}">
    <input type="submit" value="Download">
  </form>
</div>
