<div>
   <p>Download starting...</p>
   <p>If nothing happens in 10 seconds, click the button.</p>
   <br/>
</div>
<div class="entry">
  <iframe style="display: none" name="dlframe"></iframe>
  <form method="post" action="https://versi-vbl.nbi.ansto.gov.au/StorageGateway/ssltransStartWS.php" id="sslform" target="dlframe">
    <input type="hidden" name="key" value="{{key}}">
    <input type="hidden" name="expid" value="{{expid}}">
    <input type="submit" value="Download">
  </form>
  <script type="text/javascript" language="javascript">
    document.getElementById("sslform").submit();
  </script>
</div>
