<th>
    Expiry
</th>
<td>
    <span>
        <span>
            {{ expiry_date }}
            {% if never_expires %}
                Never Expires 
                {% if because_no_end_date %}
                    (no end date) {# otherwise it has been explicitly set #}
                {% endif %}
            {% endif %}
        </span>
        <form action="{% url mecat.embargo.set_expiry experiment_id %}" method="POST" style="display:inline;">
            <input type="hidden" name="date" id="date_{{experiment_id}}" class="expiry_picker" value="{{expiry_date}}"></input>
        </form>
    </span>
</td>

<td>
    {% if can_be_defaulted %}
        <form action="{% url mecat.embargo.default_expiry experiment_id %}" method="POST" id="default_form_{{experiment_id}}" class="default_form">
            <input type="submit" value="Default"/>
        </form>
    {% else %}
        (default)
    {% endif %}
</td>

{% if never_expires %}
    <td />
{% else %}
    <td>
        <form action="{% url mecat.embargo.prevent_expiry experiment_id %}" method="POST" data-experiment_id="prevent_form_{{experiment_id}}" class="prevent_expiry">
            <input type="submit" value="Never expire"/>
        </form>
    </td>
{% endif %}

{# see embargo_index.html for javascript #}
